{% if user.is_authenticated %}
{% if book.user.username == user.username %}
 {% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Edit Booking</title>
	
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
	<style type="text/css">
		.container {
			margin-top: 40px;
		}
		.btn-primary {
			width: 100%;
		}
	</style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script> 
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

	<script type='text/javascript'>
		$( document ).ready(function() {
			$('#datetimepicker1').datetimepicker();
		});
	</script>
    
</head>
<body>
	<i><strong><h1 style="text-align: center;color: blue">* * * Edit Booking * * *</h1></strong></i>

<form method="POST">
	{% csrf_token %}
	
<div class="container">
   <div class="panel panel-primary">
      <div class="panel-heading">Burbank Hair Studio</div>
      <div class="panel-body">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Full Name</label>
                  {{ form.name }}
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">With Who</label>
                 {{ form.employer }}
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Comment</label>
                  {{ form.comment }}
               </div>
            </div>
            <div class='col-md-6'>
               <div class="form-group">
                  <label class="control-label">Booking Date</label>
                  <div class='input-group date' id='datetimepicker1'>
                     {{ form.book_time }}
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <input type="submit" class="btn btn-primary" value="Submit">
         <i><strong><span style="color: red" >{{ error }}</span></strong></i>
      </div>
   </div>
</div>
		</form>
</body>
</html>
{% endif %}
{% endif %}